.Converter{
    height: 100%;
    text-align:center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ConverterImage{
    background: url('../../assets/images/back-img.png');
    background-position: center;
    background-size: cover;
    width: 100%;
    margin: auto;
}

.ConverterModule{
    padding: 2rem 0;
}

.ConverterSelectDiv{
    display: flex;
    padding: 50px 50px;
    margin: auto;
    justify-content: center;
    max-width: 1300px;
}

@media (max-width: 800px){
    .ConverterSelectDiv{
        flex-direction: column;
    }
}

@media(max-width: 500px){
    .ConverterSelectDiv{
        padding: 0;
    }
}
