.Converter{
    height: 100%;
    text-align:center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ConverterModule{
    display: flex;
    flex-direction: row;
    padding: 100px 50px;
    background-color: #EDC2D8FF;
}