.Result{
       color: #ffffff;
       p{
        font-size: 20px;
       }
}

.ResultData{
       display: flex;
       justify-content: center;

       h3{
              font-size: 72px;
       }

       p{
              margin-top: auto;
              margin-bottom: 15px;
              margin-left: 10px;
       }

}
